@import "reset.sass"
@import "fonts.sass"
@import '~leaflet/dist/leaflet.css'

\:root
  /* active theme values */
  --selected-active-color: var(--light-active-color)
  --selected-default-color: var(--light-default-color)
  --selected-faded-color: var(--light-faded-color)
  --selected-inner-color: var(--light-inner-color)

  /*'light' theme */
  --light-active-color: #FFBB6A
  --light-default-color: #FFF8B8
  --light-faded-color: #FFFCE4
  --light-inner-color: #000

  /*'dark' theme */
  --dark-active-color: #36393B
  --dark-default-color: #595959
  --dark-faded-color: #989898
  --dark-inner-color: #FFF

  font-family: 'Roboto', sans-serif

  overflow-y: hidden

.containerApp
  display: flex

.containerMain
  padding: 2em
  width: 100%
  overflow-x: hidden
  overflow-y: scroll
  height: 100vh

.leaflet-container
  margin: 30px auto
  height: 80vh
  z-index: 0
  border: 2px solid #333
  overflow: hidden

.leaflet-top, .leaflet-bottom
  position: absolute
  z-index: 1000
  pointer-events: none

